@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf");
  src:
    url("../fonts/Lato-Light.eot") format("embedded-opentype"),
    url("../fonts/Lato-Light.woff2") format("woff2"),
    url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  src:
    url("../fonts/Lato-Regular.eot") format("embedded-opentype"),
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  overflow-y: scroll;
}

* {
  margin: 0;
  box-sizing: border-box;
  font:
    300 normal 16px/18px Lato,
    sans-serif;
  color: rgba(0, 0, 0, 0.855);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-right: 5rem;
  padding-left: 5rem;
}
@media all and (max-width: 550px) {
  .wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.content {
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid rgb(96, 189, 221);
  padding: 0.5rem 1.5rem;
  border: none;
  width: 16rem;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  transition: all ease 0.5s;
  cursor: pointer;
}
@media all and (max-width: 950px) {
  .button {
    width: 12rem;
    font-size: 1rem;
  }
}
@media all and (max-width: 550px) {
  .button {
    width: 8rem;
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}
.button.light {
  background-color: rgb(245, 188, 227);
  color: rgba(0, 0, 0, 0.855);
}
.button.light:hover,
.button.light:active {
  background-color: rgba(245, 188, 227, 0.6);
}
.button.dark {
  background-color: rgb(149, 47, 117);
  color: rgba(255, 255, 255, 0.908);
}
.button.dark:hover,
.button.dark:active {
  background-color: rgba(149, 47, 117, 0.3);
}

.button_delete {
  background: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.button_delete:hover {
  transform: scale(1.5);
}

.button_like {
  background: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.button_like:hover {
  transform: scale(1.5);
}

.notFound {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.notFound.light {
  background-color: rgb(213, 240, 249);
}
.notFound.dark {
  background-color: rgb(91, 150, 170);
}
.notFound__404 {
  font-size: 4rem;
  font-weight: bolder;
}
.notFound__title {
  font-size: 1.5rem;
}
.notFound__404.light,
.notFound__title.light {
  color: rgba(0, 0, 0, 0.855);
}
.notFound__404.dark,
.notFound__title.dark {
  color: rgba(255, 255, 255, 0.908);
}

.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contacts.light {
  background-color: rgb(213, 240, 249);
}
.contacts.dark {
  background-color: rgb(91, 150, 170);
}
.contacts__title {
  font-size: 1.5rem;
}
.contacts__title.light {
  color: rgba(0, 0, 0, 0.855);
}
.contacts__title.dark {
  color: rgba(255, 255, 255, 0.908);
}
.contacts__link {
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}
.contacts__link.light {
  color: rgb(149, 47, 117);
}
.contacts__link.dark {
  color: rgb(245, 188, 227);
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.light,
.footer.light {
  background-color: rgb(96, 189, 221);
}
.header.dark,
.footer.dark {
  background-color: rgb(17, 81, 103);
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media all and (max-width: 950px) {
  .header__btns {
    gap: 0.5rem;
  }
}
@media all and (max-width: 1320px) {
  .header__btns {
    flex-direction: column;
    gap: 0.6rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media all and (max-width: 950px) {
  .logo {
    gap: 0.5rem;
  }
}
.logo__title {
  font-size: 1.3rem;
  font-weight: bolder;
}
@media all and (max-width: 950px) {
  .logo__title {
    font-size: 1rem;
  }
}
.logo__title.light {
  color: rgba(0, 0, 0, 0.855);
}
.logo__title.dark {
  color: rgba(255, 255, 255, 0.908);
}
.logo__img {
  width: 3rem;
  height: auto;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.main.light {
  background-color: rgb(213, 240, 249);
}
.main.dark {
  background-color: rgb(91, 150, 170);
}
.main__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
@media all and (max-width: 950px) {
  .main__title {
    font-size: 1.5rem;
  }
}
.main__title.light {
  color: rgba(0, 0, 0, 0.855);
}
.main__title.dark {
  color: rgba(255, 255, 255, 0.908);
}
.main__btns {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 1rem;
}
@media all and (max-width: 1320px) {
  .main__blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 950px) {
  .main__blocks {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid rgb(96, 189, 221);
}
@media all and (max-width: 950px) {
  .card__img {
    width: 18rem;
  }
}
@media all and (max-width: 550px) {
  .card__img {
    width: 12rem;
  }
}
.card__btns {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__text.light {
  color: rgba(0, 0, 0, 0.855);
}
.card__text.dark {
  color: rgba(255, 255, 255, 0.908);
}
