@import "./fonts.module.scss";
@import "./variables.module.scss";
@import "./mixins.module.scss";

html {
  overflow-y: scroll;
}

* {
  margin: 0;
  box-sizing: border-box;
  font:
    300 normal 16px/18px Lato,
    sans-serif;
  color: $fontColor-light;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-right: 5rem;
  padding-left: 5rem;
  @media all and (max-width: $small-screen) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.content {
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
}

// buttons styles
.button {
  @include button;
  &.light {
    background-color: $button-light;
    color: $fontColor-light;
    &:hover,
    &:active {
      @include onHover($button-light, 0.6);
    }
  }

  &.dark {
    background-color: $button-dark;
    color: $fontColor-dark;
    &:hover,
    &:active {
      @include onHover($button-dark, 0.3);
    }
  }
}

.button_delete {
  background: none;
  border: none;
  cursor: pointer;
  transition: $transition;
  &:hover {
    transform: scale(1.5);
  }
}

.button_like {
  background: none;
  border: none;
  cursor: pointer;
  transition: $transition;
  &:hover {
    transform: scale(1.5);
  }
}

//notFoundPage styles
.notFound {
  @include flexAlignmentColumn;
  &.light {
    background-color: $bgColor-main-light;
  }
  &.dark {
    background-color: $bgColor-main-dark;
  }
  &__404 {
    font-size: 4rem;
    font-weight: bolder;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__404,
  &__title {
    &.light {
      color: $fontColor-light;
    }
    &.dark {
      color: $fontColor-dark;
    }
  }
}

//contacts page styles
.contacts {
  @include flexAlignmentColumn;
  &.light {
    background-color: $bgColor-main-light;
  }
  &.dark {
    background-color: $bgColor-main-dark;
  }
  &__title {
    font-size: 1.5rem;
    &.light {
      color: $fontColor-light;
    }
    &.dark {
      color: $fontColor-dark;
    }
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    &.light {
      color: $button-dark;
    }
    &.dark {
      color: $button-light;
    }
  }
}

//header and footer styles
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.light {
    background-color: $bgColor-light;
  }
  &.dark {
    background-color: $bgColor-dark;
  }
}

.header {
  &__btns {
    @include flexAlignmentRow;
    @media all and (max-width: $large-screen) {
      flex-direction: column;
      gap: 0.6rem;
    }
  }
}

.logo {
  @include flexAlignmentRow;
  &__title {
    font-size: 1.3rem;
    font-weight: bolder;
    @media all and (max-width: $medium-screen) {
      font-size: 1rem;
    }
    &.light {
      color: $fontColor-light;
    }
    &.dark {
      color: $fontColor-dark;
    }
  }

  &__img {
    width: 3rem;
    height: auto;
  }
}

//main page styles
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  &.light {
    background-color: $bgColor-main-light;
  }
  &.dark {
    background-color: $bgColor-main-dark;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    @media all and (max-width: $medium-screen) {
      font-size: 1.5rem;
    }
    &.light {
      color: $fontColor-light;
    }
    &.dark {
      color: $fontColor-dark;
    }
  }
  &__btns {
    @include stretchAlignment;
  }
  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    gap: 1rem;
    @media all and (max-width: $large-screen) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and (max-width: $medium-screen) {
      grid-template-columns: 1fr;
    }
  }
}

//card styles
.card {
  padding: 1.5rem;
  @include flexAlignmentColumn;
  @include borderRounded;
  &__img {
    @media all and (max-width: $medium-screen) {
      width: 18rem;
    }
    @media all and (max-width: $small-screen) {
      width: 12rem;
    }
  }
  &__btns {
    @include stretchAlignment;
  }
  &__text {
    &.light {
      color: $fontColor-light;
    }
    &.dark {
      color: $fontColor-dark;
    }
  }
}
