@import "./variables.module.scss";

@mixin flexAlignmentColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@mixin flexAlignmentRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @media all and (max-width: $medium-screen) {
    gap: 0.5rem;
  }
}

@mixin stretchAlignment {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin borderRounded {
  border-radius: $borderRadius;
  outline: none;
  border: 1px solid $bgColor-light;
}

@mixin onHover($theme, $a) {
  background-color: rgba($theme, $a);
}

@mixin button {
  @include borderRounded;
  padding: 0.5rem 1.5rem;
  border: none;
  width: 16rem;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  transition: $transition;
  cursor: pointer;

  @media all and (max-width: $medium-screen) {
    width: 12rem;
    font-size: 1rem;
  }

  @media all and (max-width: $small-screen) {
    width: 8rem;
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}
